{% extends 'CMadrid/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Bienvenido a Calidad del Aire en Tiempo Real</h1>
    <p class="text-center">Esta es la página de inicio de la aplicación.</p>
    
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">¿Qué hace este proyecto?</h2>
            <p>Este proyecto se enfoca en la calidad del aire a nivel de comunidad, utilizando datos abiertos disponibles como base de información. Utilizamos la ubicación del usuario para mostrar gráficos y mapas interactivos que permiten conocer en tiempo real la calidad del aire en su zona.</p>
            <p>Con esta herramienta, podrás:</p>
            <ul>
                <li>Visualizar mapas de calidad del aire en tu ubicación actual.</li>
                <li>Ver gráficos históricos y en tiempo real de los niveles de contaminación.</li>
                <li>Acceder a datos abiertos y actualizados sobre la calidad del aire.</li>
                <li>Contribuir a una mejor comprensión de la calidad del aire en tu comunidad.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
